<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cinephiles - Editar Usuario</title>
    <link rel="stylesheet" href="/stylesheets/editUser.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container">
      <div class="row cardrow">
        <div class="col-12 title"><h1 class="h1sh">Editar usuario</h1></div>
        <div class="col-12 col-sm-3">
          <a href="/user/oneUser/<%= result[0].user_id %>">
            <div class="cardmini">
              <h3><%= result[0].user_name %></h2>
              <h5><%= result[0].user_last_name %></h5>
  
              <img src="/images/user/<%= result[0].user_img %>" alt="" />
            </div>
          </a>
          
        </div>

        <div class="col-12 col-sm-9">
          <div class="divform">
            
            <form
              action="/user/oneUser/editUser/<%= result[0].user_id %>"
              method="post"
              enctype="multipart/form-data"
            >
              <label for="">Nombre</label>
              <br />
              <input
                type="text"
                placeholder="Introduce tu nombre"
                name="name" required maxlength="50"
                value="<%= result[0].user_name %>"
              />
              <br /><br />
              <label for="">Apellidos</label>
              <br />
              <input
                type="text"
                placeholder="Introduce tus apellidos "
                name="last_name" required maxlength="80"
                value="<%= result[0].user_last_name %>"
              />
              <br /><br />
              <label for="">Nº de teléfono</label>
              <br />
              <input
                type="text"
                placeholder="Introduce el nº de teléfono"
                name="phone_number" required maxlength="15"
                value="<%= result[0].phone_number %>"
              />
              <br /><br />
              <label for="">También puedes modificar tu descripción.</label>
              <br />
              <textarea
                name="text"
                id=""
                cols="40"
                rows="5" maxlength="200"
                placeholder="<%= result[0].user_description %>"
              ></textarea>
              <br /><br />
              <label for="">Actualiza tu imagen de perfil.</label>
              <br />
              <input class="filename" type="file" name="img" id="" />
              <br /><br />
              <div class="text-end">
                <button class="enviar" type="submit">Actualizar</button>
              </div>
            </form>
            <hr>
            <p>O también puedes eliminar este usuario.</p>
            <form action="/user/deleteUser/<%= result[0].user_id %>" method="post">
             
              <p>Introduce la contraseña del usuario y pulsa el boton eliminar</p><input type="password" name="password"  placeholder="Contraseña" id=""><br><br>
              <h5 class="error"><%= mensaje %></h5>
              <button type="submit" class="enviarDel">Eliminar</button></a>
            </form>
           
          </div>
        </div>
      </div>
    </div>
    <%- include('footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
