<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cinephiles - <%= resultUser[0].user_name %></title>
    <link rel="stylesheet" href="/stylesheets/oneUser.css" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container">
      <div class="row cardrow">
        <div class="col-12">
          <h1 class="h1sh">
            <%= resultUser[0].user_name %> <%= resultUser[0].user_last_name %>
          </h1>
        </div>
       
          <div class="card col-12 col-sm-3">
            <h4><%= resultUser[0].user_name %></h4>
            <h6><%= resultUser[0].user_last_name %></h6>
            <h6>Tel.<%= resultUser[0].phone_number %></h6>
            <h6><%= resultUser[0].user_description %></h6>
            <a
              href="/user/oneUser/editUser/<%= resultUser[0].user_id %>"
              class="text-center"
              ><button class="buttonEditUser">Editar</button></a
            >
            <img src="/images/user/<%= resultUser[0].user_img %>" alt="" />
          </div>
        

        <div class="cardfilms col-12 col-sm-8">
          <div class="menucol">
            <h3 class="d-inline collec h1sh">Colección de películas.</h3>
            <a
              href="/movies/addMovie/<%= resultUser[0].user_id %>"
              class="text-end"
              ><button class="buttonSMore">
                Añadir película a la colección
              </button></a
            >
          </div>
          <% resultMovie.forEach(movie => { %>
          <div class="eachFilm">
            <div class="movieImg">
              <img src="/images/movies/<%= movie.movie_img %>" alt="" />
            </div>
            <div class="movieText">
              <h5><%= movie.title %> - <%= movie.release_year %></h5>
              <p class="description"><%= movie.movie_description %></p>
              <div>
                <a
                  href="/movies/oneMovie/<%= movie.movie_id %>"
                  class="text-center"
                  ><button class="buttonEdit">Ampliar</button></a
                >
                <a
                  href="/movies/deleteMovie/<%= movie.user_id %>/<%= movie.movie_id %>"
                  class="text-center"
                  ><button class="buttonDelete">Eliminar de la lista</button></a
                >
              </div>
            </div>
          </div>

          <% }) %>
        </div>
      </div>
    </div>
    <%- include('footer') %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
